<div id="side" class="floatwrap">
<div class="planner2">
<div class="planner-title">SideMenu</div>　
<ul class="project-title2">
<li><%= link_to 'Artist list', artist_list_path %></li>
<li><%= link_to 'Category list', category_list_path %></li>
<li><%= link_to 'place list', place_list_path %></li>
<li>日時で探す</li>
<li>お知らせ</li>
</ul>
</div>
</div>

