<div id="side" class="floatwrap">
	<div>
		<p><%= link_to '最新チケット登録情報','http://localhost:3000/cat_list/1'%></p>
		<p><%= link_to 'まもなく公演','http://localhost:3000/cat_list/2'%></p>
		<p><%= link_to 'カテゴリー一覧','http://localhost:3000/category_list'%></p>
	</div>
<div>
</div>
</div>