<div id="main" class="floatwrap">

<h2>Company</h2>

<table class="about_table">
  <tbody><tr>
    <th>Company Name</th>
    <td>FIVE TASTE, Inc.</td>
  </tr>
  <tr>
    <th>Business</th>
    <td>Mail-order Business</td>
  </tr>
  <tr>
    <th>Founded</th>
    <td>November, 2008 </td>
  </tr>
  <tr>
    <th>Representative</th>
    <td>Kazufumi Gomi</td>
  </tr>
  <tr>
    <th>Offiice Location</th>
    <td>202 Shinano Mainichi Shinbunsha Chino Building, 17-14 Nakamachi Chino-shi, 391-0005, Nagano, Japan</td>
  </tr>
  <tr>
    <th>The Closest Station</th>
    <td>Chino Station</td>
  </tr>
  <tr>
    <th>Phone/FAX</th>
    <td>＋81-266-73-0445</td>
  </tr>
  <tr>
    <th>Employees</th>
    <td>4 as of January, 2015
    </td>
  </tr>
  <tr>
    <th>Major Banks</th>
    <td>Yucho Bank, Mitsui Sumitomo Bank, Suwa Branch 
    </td>
  </tr>  
  <tr>
    <th>Capital</th>
    <td>8 million yen</td>
  </tr>
  <tr>
    <th>License</th>
    <td>A license of a secondhand dealer </td>
  </tr>
  <tr>
    <th>Association Participated</th>
    <td>Chino Chamber Commerce and Industry</td>
  </tr>
</tbody></table>


  </div><!-- end div#main -->

<% content_for :extend_index do %>

<%= render 'top_sidebar' %>

<% end %>
