<div id="main" class="floatwrap">

<h2>私たちについて</h2>

<div id="newsArea">

<h3>世界の屋根・ヒマラヤの大自然を未来へつなぐ国際環境NGO</h3>
<p>
ヒマラヤ保全協会（ＩＨＣ：The Institute for Himalayan Conservation）は、ネパール・ヒマラヤにおいて、地域住民が主体になった植林事業に取り組んでいる国際環境NGOです。今までに、ヒマラヤ山麓にのべ約91万本の植樹をしてきました（2013年7月現在）
</p>
<p><%= image_tag('about.jpg' ,:size => '400x250') %></p>

<table class="sample about">
<tr>
	<th>今すぐ寄付</th>
	<th>今後、継続して寄付</th>
</tr>

<tr>
<td>
<select name="example1">
<option value="サンプル1">100万本プロジェクト　3000円</option>
<option value="サンプル2">収入工場プロジェクト</option>
<option value="サンプル3">ネパールと繋がる</option>
<option value="サンプル4">事務局への支援</option>
<option value="サンプル5">その他</option>
</td>
<td>
<select name="example1">
<option value="サンプル1">マンスリーサポート　月1000円</option>
<option value="サンプル2">イヤーサポート　月10000円</option>
</td>
</select>

<tr>


</table>


</div><!-- end newsArea --> 

  </div><!-- end div#main -->

<% content_for :extend_index do %>

<%= render 'top_sidebar' %>

<% end %>
