
<h2>募金寄付する</h2>
<h3>森林保全事業のあゆみ</h3>
<div class="donate_content">
<div class="image">
<%= image_tag('3projects 2.jpg', :size => '500x300') %>
</div>
<div>
ヒマラヤ保全協会の活動は、当協会創設者の川喜田二郎が、1953年に、ネパール・ヒマラヤを調査したことに端を発します。その後、1974年にヒマラヤ技術協力会、1986年にヒマラヤ保全協会、1993年に新生ヒマラヤ保全協会を発足させ、30年以上にわたってネパール西部で森林保全事業に取り組んできました
</div>

<h3>2ヒマラヤ保全協会 2012年度事業報告　<span style="color:red;">～約５万５千本を植樹～</span></h3>
<div class="image2">
<%= image_tag('hikaku1 2.jpg', :size => '300x300') %>
</div>
<div>
	12年間にわたってつづけてきた、「植林プロジェクト（キバン-ナンギ地域）」を、2008年3月をもってすべて終了し、キバン村・ティコット村・アウロ村・ナンギ村の各苗畑を各村にハンドオーバーしました。

</div>

</div>

<% content_for :extend_index do %>

<%= render 'top_sidebar' %>

<% end %>