
<table class="sample">
<tr>
	<th>ボランティアしてみる。</th>
	<th>ネパールに行ってみる。</th>
	<th>山登りしてみる。</th>
</tr>

<tr>
<td>
   <%= link_to image_tag('sanka1.jpg', :size => '190x150'),'http://www.aurora2001.com/' %>
</td>
<td>
   <%= link_to image_tag('sanka2.jpg', :size => '190x150'),'http://www.aurora2001.com/' %>
</td>
<td>
   <%= link_to image_tag('sanka3.jpg', :size => '190x150'),'http://www.aurora2001.com/' %>
</td>
</tr>
</table>

<% content_for :extend_index do %>

<%= render 'top_sidebar' %>

<% end %>
