<h2>年別アーカイブ一覧</h2>

<div id="news">
<ul>

<% @post_years.each do |year, posts| %>
<li>
<% dl = year.strftime("%Y") %>
<a href="/year_list/<%= dl %>">
<% m = year.strftime("%Y年") %>
<%= m %></a>
(<%= posts.count %>)

</li>
<% end %>

</ul>
</div>