  <div id="side" class="floatwrap">
  <div class="sideguide">
  <%= link_to 'カテゴリー一覧', category_list_path %>
  <p>お知らせ</p>
  <p>イベント情報</p>
  <p>ボランティア情報</p>
  </div>
  <div class="sideguide">
    今までのNEWS
  <li><%= link_to '4月のNEWS', day_path %></li>
  <li><%= link_to '3月のNEWS', month_path %></li>
　<li><%= link_to '2月のNEWS', year_path %></li>
  </div>
</div>