 <div id="side" class="floatwrap">
<p>私たちも参加しています</p>
   <%= link_to image_tag('aurora.jpg', :size => '190x150'),'http://www.aurora2001.com/' %>
   <%= link_to image_tag('cayhane.jpg', :size => '190x150'),'http://www.cayhane.jp/shop/c/c01' %>
   <%= link_to image_tag('one_tree.jpg', :size => '190x150'),'http://www.cayhane.jp/shop/pages/2013opot.aspx' %>
   <li>お知らせ</li>
   <li>イベント情報</li>
   <li>ボランティア情報</li>

 
</div>
