<div id="main" class="floatwrap">

<h2>私たちについて</h2>

<div id="newsArea">


</div><!-- end newsArea --> 

  </div><!-- end div#main -->

<% content_for :extend_index do %>

<%= render 'news_sidebar' %>

<% end %>
